* {
	margin: 0;
	padding: 0;
}

canvas {
	z-index: 0;
}

.root {
	display: flex;
	justify-content: space-between;
}

.left_part {
	width: 80%;
}

.right_part {
	z-index: 5;
	width: 20%;;
}

.settings_list {
	list-style: none;
}

.settings_list li {
	display: block;
	margin-bottom: 10px;
}

.settings_list li button {
	width: 100%;
	height: 2.5em;
}

#display {
	display: block;
	width: 100%;
	height: 3em;
	background: #512DA8;
	color: #FFF;
}

#display_frequency {
	width: 100%;
	height: 2em;
}